<div class="container-controllers">
  <button
    name="start"
    class="btn-controller container-controller-1"
    (click)="actionOnClick($event)"
  >
    Start
  </button>
  <button
    name="stop"
    class="btn-controller container-controllers-2"
    (click)="actionOnClick($event)"
  >
    Stop
  </button>
  <button
    name="reset"
    class="btn-controller container-controllers-3"
    (click)="actionOnClick($event)"
  >
    Reset
  </button>
  <button
    name="up"
    class="btn-controller container-controllers-4"
    (click)="actionOnClick($event)"
  >
    Up
  </button>
  <button
    name="left"
    class="btn-controller container-controllers-5"
    (click)="actionOnClick($event)"
  >
    Left
  </button>
  <button
    name="right"
    class="btn-controller container-controllers-6"
    (click)="actionOnClick($event)"
  >
    Right
  </button>
  <button
    name="down"
    class="btn-controller container-controllers-7"
    (click)="actionOnClick($event)"
  >
    Down
  </button>
</div>
