<html>
  <body class="container">
    <div class="container-user">
      <p>{{ displayTime }}</p>
      <p>{{ points }}</p>
      <div>
        <button (click)="changeDirection()">desc</button>
        <table>
          <tr>
            <td>Number</td>
            <td>Login</td>
            <td>Points</td>
          </tr>
          <tr *ngFor="let result of pointsResult | sortBy : dir; let i = index">
            <td>{{ i }}</td>
            <td>{{ result.userName }}</td>
            <td>{{ result.userPoints }}</td>
          </tr>
        </table>
      </div>
      <button (click)="backToIntroPage()">Exit Game</button>
    </div>
    <div class="container-game">
      <ngx-snake
        #game
        (foodEaten)="showResult()"
        (gameOver)="endGame()"
      ></ngx-snake>
    </div>
    <div class="container-controllers">
      <button
        class="btn-controller"
        class="container-controller-1"
        (click)="game.actionStart()"
        (click)="getTime()"
        (click)="handleClickHistory($event)"
      >
        Start
      </button>
      <button
        class="btn-controller"
        class="container-controllers-2"
        (click)="game.actionStop()"
        (click)="getTime()"
        (click)="handleClickHistory($event)"
      >
        Stop
      </button>
      <button
        class="btn-controller"
        class="container-controllers-3"
        (click)="game.actionReset()"
        (click)="endGame()"
      >
        Reset
      </button>
      <button
        class="btn-controller"
        class="container-controllers-4"
        (click)="game.actionUp()"
        (click)="handleClickHistory($event)"
      >
        Up
      </button>
      <button
        class="btn-controller"
        class="container-controllers-5"
        (click)="game.actionLeft()"
        (click)="handleClickHistory($event)"
      >
        Left
      </button>
      <button
        class="btn-controller"
        class="container-controllers-6"
        (click)="game.actionRight()"
        (click)="handleClickHistory($event)"
      >
        Right
      </button>
      <button
        class="btn-controller"
        class="container-controllers-7"
        (click)="game.actionDown()"
        (click)="handleClickHistory($event)"
      >
        Down
      </button>
    </div>
    <div class="container-movement">
      <div>
        <table>
          <tr>
            <td>Time</td>
            <td>Movement</td>
          </tr>
          <tr *ngFor="let result of movementHistory">
            <td>{{ result.time }}</td>
            <td>{{ result.movement }}</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
