*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 10px;*/
  line-height: 2;
  color: #333;
  background: linear-gradient(45deg, #67b26f 0%, #4ca2cd 100%);

  box-sizing: border-box;
  height: 100vh;
  position: relative;
}

.start-btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 1rem;
    display: inline-block;
    border-radius: 10rem;
    font-size: 1rem;
    margin-top: 1.2rem;

    border: none;
    cursor: pointer;
  }
}

.input-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.welcome-name {
  font-weight: 700;
}
