<div class="container-user-button-pipes">
  <p>Sort scores:</p>
  <button
    class="btn-controller"
    name="desc"
    (click)="changeSortDirectionScore($event)"
  >
    desc
  </button>
  <button
    class="btn-controller"
    name="asc"
    (click)="changeSortDirectionScore($event)"
  >
    asc
  </button>
  <p>
    <input type="checkbox" [(ngModel)]="onlyMyScores" />
    Only my scores
  </p>
</div>
<div class="table">
  <table class="table-movement">
    <tr class="table-movement-tr">
      <th class="table-movement-th">Number</th>
      <th class="table-movement-th">Login</th>
      <th class="table-movement-th">Points</th>
    </tr>
    <tr
      *ngFor="
        let currUserFromServer of dataFromServer
          | filterByName : filterName : onlyMyScores
          | sortByHighScores : dirSortScore;
        let i = index
      "
    >
      <td *ngIf="i < 10" class="table-movement-td">{{ i + 1 }}</td>
      <td *ngIf="i < 10" class="table-movement-td">
        {{ currUserFromServer.name }}
      </td>
      <td *ngIf="i < 10" class="table-movement-td">
        {{ currUserFromServer.score }}
      </td>
    </tr>
  </table>
</div>
