<div class="login-container">
  <p style="margin-bottom: 0">
    Have fun
    <span style="font-weight: bold">{{ currUser.userName }}</span>
    !
  </p>
  <mat-slide-toggle
    [color]="toggleCompColor"
    [checked]="toggleCompChecker"
    (click)="changeColor(templateColor)"
    ><span
      [ngStyle]="{
        color: templateColor ? 'white' : '#adff2f'
      }"
      >Turn</span
    >
    on
    <span
      [ngStyle]="{
        color: templateColor ? 'white' : '#adff2f'
      }"
      >contrast</span
    >
    mode:
    <span
      [ngStyle]="{
        color: templateColor ? 'white' : '#adff2f'
      }"
      >{{ templateColor }}</span
    >
  </mat-slide-toggle>
</div>
<div class="container-user-information">
  <p>
    Time in the game:
    <span style="font-weight: bold">{{ displayTime }}</span>
    min
  </p>
  <p>
    Your points:
    <span style="font-weight: bold">{{ points }}</span>
  </p>
  <button class="btn-controller" (click)="backToIntroPage()">Exit Game</button>
</div>
